.cartao {
    display: inline-block;    
    padding: 35px;    
    width: 18rem;
    margin: 0 60px;
    margin-top: 50px;
}
.cartao .corpo {
    padding: 50px;    
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(179, 190, 170);
    border: 3px solid rgb(103, 117, 81);    
    font-size: 15px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    border-radius: 45px;  
}   