.card {
    display: block;
    padding: 50px;
    background-color: greenyellow;
    border: 3px solid rgb(44, 156, 44);
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 660px;
    width: 100px;
    justify-content: center;
    text-align: center;
}