.cardS {          
    padding: 50px;
    background-color: rgb(192, 216, 153);
    border: 3px solid rgb(77, 160, 77);
    border-radius: 5px;         
    max-width: 600px;
    min-height: 200px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-left: 400px;
    font-size: 20px;
    color: black;     
}